<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - website</title>
    <link rel="stylesheet" href="~/lib/bootstrap-4.0.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/images/logo.png" alt="Company Logo">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item @((ViewBag.ActivePage == "Home") ? "active" : "")">
                        <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
                    </li>
                    <li class="nav-item @((ViewBag.ActivePage == "DichVuThue") ? "active" : "")">
                        <a href="@Url.Action("DichVuThue", "Home")">Dịch Vụ</a>
                    </li>
                    <li class="nav-item @((ViewBag.ActivePage == "ThuTucChoThue") ? "active" : "")">
                        <a href="@Url.Action("Index", "ThuTucChoThue")">Thủ Tục Cho Thuê</a>
                    </li>
                    <li class="nav-item @((ViewBag.ActivePage == "TrackOrder") ? "active" : "")">
                        <a href="@Url.Action("TrackOrder", "Home")">Tra Cứu</a>
                    </li>
                </ul>
            </nav>
            <div class="cart">
                <a href="@Url.Action("Cart", "Home")">
                    <img src="~/images/cart.png" alt="Giỏ" class="cart-icon">
                    <span class="cart-count">@ViewBag.CartCount</span>
                </a>
            </div>
        </header>

        <div class="main-content">
            <div class="content-wrapper">
                <div class="content">
                    <section class="featured spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-title">
                                    </div>
                                </div>
                                @RenderBody()
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!-- Footer Section -->
        <section class="footer-section">
            <div class="footer-container">
                <div class="footer-column">
                    <div class="footer-widget">
                        <img src="~/images/logo.png" alt="Logo">
                        <p>Cám ơn bạn đã ghé thăm chúng tôi và chúc bạn một ngày tốt lành.</p>
                        <div class="footer-social-icons">
                            <a href="https://www.facebook.com/huystudio157/" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://zalo.me/0355546254" class="social-icon"><img src="~/images/zalo-icon.png" alt="Zalo Icon" style="width: 24px; height: 24px;"></a>

                        </div>
                    </div>
                </div>
                <div class="footer-column">
                    <div class="footer-widget">
                        <h2>KHÁC</h2>
                        <ul class="footer-links">
                            <li><a href="#">Mã Số Thuế : 0318413249</a></li>
                            <li><a href="@Html.Raw("http://hudoproduction.com/")">Website</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-column">
                    <div class="footer-widget">
                        <h2>QUICK LINKS</h2>
                        <ul class="footer-links">
                            <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                            <li><a href="@Url.Action("DichVuThue", "Home")">Dịch Vụ</a></li>
                            <li><a href="@Url.Action("Index", "ThuTucChoThue")">Thủ Tục Cho Thuê</a></li>
                            <li><a href="@Url.Action("TrackOrder", "Home")">Tra Cứu</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-column">
                    <div class="footer-widget">
                        <h2>LIÊN HỆ</h2>
                        <ul class="footer-links">
                            <li>
                                <a href="@Html.Raw("https://www.google.com/maps/place/164%2F7A+L%C3%AA+%C4%90%C3%ACnh+Th%C3%A1m,+T%C3%A2n+Qu%C3%BD,+T%C3%A2n+Ph%C3%BA,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7965787,106.6250627,107m/data=!3m1!1e3!4m15!1m8!3m7!1s0x31752bfee0dbf071:0xb1e2994ff3013e04!2zMTY0LzdBIEzDqiDEkMOsbmggVGjDoW0sIFTDom4gUXXDvSwgVMOibiBQaMO6LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!3b1!8m2!3d10.7963274!4d106.6250061!16s%2Fg%2F11j8gyqzb0!3m5!1s0x31752bfee0dbf071:0xb1e2994ff3013e04!8m2!3d10.7963274!4d106.6250061!16s%2Fg%2F11j8gyqzb0?hl=vi-VN&entry=ttu")">
                                    164/5A Lê Đình Thám, Phường Tân Quý, Quận Tân Phú, TPHCM
                                </a>
                            </li>
                            <li><a href="#">truonghoquanghuy@gmail.com</a></li>
                            <li><a href="#">0355546254</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <div class="footer-bottom">
            <p>Copyright © 2024. Hudo Media Production</p>
            <p>DESIGN BY Nguyễn Thanh Tiến </p>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
