<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Trang Quản Lý</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/QuanLy.css" /> <!-- Bạn có thể tạo file CSS riêng cho admin -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Products")">Quản Lý Sản Phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Categories")">Quản Lý Danh Mục</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Customers")">Quản Lý Khách Hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "InvoiceItems")">Quản Lý Hóa Đơn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("DeleteImages", "ProductImages")">Quản Lý Hình Ảnh Sản Phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List", "ThuTucChoThue")">Quản Lý Thủ Tục Cho Thuê</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "InvoiceItems")">Quản Lý Khách Thuê</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout", "Account")">Đăng Xuất</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container">
            <span class="text-muted">&copy; 2024 Your Company. All Rights Reserved.</span>
        </div>
    </footer>    
    @RenderSection("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
