@model IEnumerable<website.Models.Category>

@{
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<!-- Thêm thông báo -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
